{% extends 'base.html.twig' %}

{% block title %}Liste des Tags{% endblock %}

{% block body %}

    <a href="{{ path('tag_create') }}">Créer un nouveau tag</a>

<div class="example-wrapper">
    {% for tag in tags %}
        <h2>{{ tag.name }}</h2>
    {% endfor %}
</div>
{% endblock %}