{% extends 'base.html.twig' %}

{% block title %}Liste des Tags{% endblock %}

{% block body %}

    <section class="container">
        <a href="{{ path('tag_create') }}" class="btn btn-primary">Créer un nouveau tag</a>

        <div class="example-wrapper">
            {% for tag in tags %}
                <h2>{{ tag.name }}</h2>
            {% endfor %}
        </div>
    </section>
{% endblock %}